## PPP Data Consolidation

In [1]:
#convert PPP files downloaded from (https://data.sba.gov/dataset/ppp-foia) into 1 file.
#The dataset comes in 12 files, consolidate into 1 for future use

In [2]:
#Import libraries, set max columns
import pandas as pd
import glob2 as glob

pd.set_option('display.max_columns', 500)

In [3]:
#This code consolidates all 12 files into 1 file using wildcard search to find all csv files in the designated folder,
#and then using concat to combine into 1 
ppp_df = pd.concat(map(pd.read_csv, glob.glob('*.csv')))

C:\Users\kylec\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3437: DtypeWarning: Columns (50) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\kylec\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3437: DtypeWarning: Columns (16,50) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
ppp_df

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,LoanStatus,Term,SBAGuarantyPercentage,InitialApprovalAmount,CurrentApprovalAmount,UndisbursedAmount,FranchiseName,ServicingLenderLocationID,ServicingLenderName,ServicingLenderAddress,ServicingLenderCity,ServicingLenderState,ServicingLenderZip,RuralUrbanIndicator,HubzoneIndicator,LMIIndicator,BusinessAgeDescription,ProjectCity,ProjectCountyName,ProjectState,ProjectZip,CD,JobsReported,NAICSCode,Race,Ethnicity,UTILITIES_PROCEED,PAYROLL_PROCEED,MORTGAGE_INTEREST_PROCEED,RENT_PROCEED,REFINANCE_EIDL_PROCEED,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,9547507704,05/01/2020,464.0,PPP,"SUMTER COATINGS, INC.",2410 Highway 15 South,Sumter,NaN,29150-9662,12/18/2020,Paid in Full,24,100,769358.78,769358.78,0.0,NaN,19248.0,Synovus Bank,1148 Broadway,COLUMBUS,GA,31901-2429,U,N,N,Existing or more than 2 years old,Sumter,SUMTER,SC,29150-9662,SC-05,62.0,325510.0,Unanswered,Unknown/NotStated,NaN,769358.78,NaN,NaN,NaN,NaN,NaN,Corporation,19248.0,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN,773553.37,11/20/2020
1,9777677704,05/01/2020,464.0,PPP,"PLEASANT PLACES, INC.",7684 Southrail Road,North Charleston,NaN,29420-9000,NaN,Exemption 4,24,100,736927.79,736927.79,0.0,NaN,19248.0,Synovus Bank,1148 Broadway,COLUMBUS,GA,31901-2429,U,Y,Y,Existing or more than 2 years old,North Charleston,CHARLESTON,SC,29420-9000,SC-06,73.0,561730.0,White,Unknown/NotStated,NaN,736927.79,NaN,NaN,NaN,NaN,NaN,Sole Proprietorship,19248.0,Synovus Bank,COLUMBUS,GA,Male Owned,Non-Veteran,NaN,NaN,NaN
2,5791407702,05/01/2020,1013.0,PPP,BOYER CHILDREN'S CLINIC,1850 BOYER AVE E,SEATTLE,NaN,98112-2922,03/17/2021,Paid in Full,24,100,691355.00,691355.00,0.0,NaN,9551.0,"Bank of America, National Association","100 N Tryon St, Ste 170",CHARLOTTE,NC,28202-4024,U,N,N,New Business or 2 years or less,SEATTLE,KING,WA,98112-2922,WA-07,75.0,NaN,Unanswered,Unknown/NotStated,NaN,691355.00,NaN,NaN,NaN,NaN,NaN,Non-Profit Organization,9551.0,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,Y,696677.49,02/10/2021
3,6223567700,05/01/2020,920.0,PPP,KIRTLEY CONSTRUCTION INC,1661 MARTIN RANCH RD,SAN BERNARDINO,NaN,92407-1740,NaN,Exemption 4,24,100,499871.00,499871.00,0.0,NaN,9551.0,"Bank of America, National Association","100 N Tryon St, Ste 170",CHARLOTTE,NC,28202-4024,U,N,N,New Business or 2 years or less,SAN BERNARDINO,SAN BERNARDINO,CA,92407-1740,CA-08,21.0,236115.0,Unanswered,Unknown/NotStated,NaN,499871.00,NaN,NaN,NaN,NaN,NaN,Corporation,9551.0,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,NaN,NaN,NaN
4,9662437702,05/01/2020,101.0,PPP,AERO BOX LLC,NaN,NaN,NaN,NaN,NaN,Exemption 4,24,100,367437.00,367437.00,0.0,NaN,57328.0,The Huntington National Bank,17 S High St,COLUMBUS,OH,43215-3413,U,N,N,Unanswered,NaN,NaN,NaN,NaN,NaN,25.0,484210.0,Unanswered,Unknown/NotStated,NaN,367437.00,NaN,NaN,NaN,NaN,NaN,NaN,57328.0,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,370819.35,04/08/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899995,5375497305,04/30/2020,593.0,PPP,MEENACH'S SHIRT STOP LLC,11774 GALLIA RD,WHEELERSBURG,OH,45694,04/22/2021,Paid in Full,24,100,3307.00,3307.00,0.0,NaN,53803.0,"U.S. Bank, National Association",425 Walnut St,CINCINNATI,OH,45202-3956,R,N,N,New Business or 2 years or less,WHEELERSBURG,SCIOTO,OH,45694-0001,OH-06,3.0,323113.0,White,Not Hispanic or Latino,NaN,3307.00,NaN,NaN,NaN,NaN,NaN,Limited Liability Company(LLC),53803.0,"U.S. Bank, National Association",CINCINNATI,OH,Female Owned,Non-Veteran,NaN,3337.13,03/26/2021
899996,6767138106,07/22/2020,593.0,PPP,BRADLEY J WOOTEN,3111 Alternate State Route 49,Arcanum,OH,45304-9749,05/27/2021,Paid in Full,60,100,3307.00,3307.00,0.0,NaN,456756.0,Cross River Bank,885 Teaneck Rd,TEANECK,NJ,07666-4546,R,N,N,Unanswered,Arcanum,DARKE,OH,45304-9749,OH-08,1.0,236115.0,Unanswered,Unknown/NotStated,NaN,3307.00,NaN,NaN,NaN,NaN,NaN,Sole Proprietorship,456756.0,Cross River Bank,TEANECK,NJ,Male Owned,Unanswered,NaN,3331.83,04/23/2021
899997,7326218606,03/23/2021,593.0,PPP,SHASHA WANKO,3175 N High St,Columbus,OH,43202-1137,NaN,Exemption 4,60,100,3307.00,3307.00,0.0,NaN,57328.0,The Huntington National Bank,17 S High St,COLUMBUS,OH,43215-3413,U,N,N,Existing or more than 2 years old,Columbus,FRANKLIN,OH,43202-1137,OH-12,1.0,812990.0,White,Not Hispanic or Latino,1.0,3304.00,NaN,NaN,NaN,NaN,NaN,Sole Proprietorship,57328.0,The Huntington National Bank,COLUMBUS,OH,Female Owned,Non-Veteran,NaN,3314.43,06/15/2021
899998,7826248404,02/12/2021,593.0,PPP,J AND S LITTLE ME LLC,5875 Nike Dr,Hilliard,OH,43026-8758,NaN,Exemption 4,60,100,3307.00,3307.00,0.0,NaN,443558.0,Economic and Community Development Institute,1655 Old Leonard Avenue,Columbus,OH,43219,U,N,N,Existing or more than 2 years old,Hilliard,FRANKLIN,OH,43026-8758,OH-03,1.0,624110.0,White,Not Hispanic or Latino,NaN,3307.00,NaN,NaN,NaN,NaN,NaN,Subchapter S Corporation,443558.0,Economic and Community Development Institute,Columbus,OH,Female Owned,Non-Veteran,NaN,NaN,NaN
899999,8314088906,05/11/2021,593.0,PPP,MUNYO MIYIR,3208 Valleywood Dr,Columbus,OH,43223-3539,NaN,Exemption 4,60,100,3307.00,3307.00,0.0,NaN,443558.0,Economic and Community Development Institute,1655 Old Leonard Avenue,Columbus,OH,43219,U,N,Y,Existing or more than 2 years old,Columbus,FRANKLIN,OH,43223-3539,OH-03,1.0,485310.0,Black or African American,Not Hispanic or Latino,1.0,3301.00,NaN,NaN,NaN,NaN,NaN,Independent Contractors,443558.0,Economic and Community Development Institute,Columbus,OH,Male Owned,Non-Veteran,NaN,NaN,NaN

In [5]:
#11.8million rows x 53 columns 
#data appears to be successfully imported and combined

In [9]:
ppp_df.to_csv('C:/Users/kylec/Desktop/PPP portfolio project October 2021/Raw Data/processed data/ppp_combined_data.csv', index=False)

In [8]:
#Created a new dataframe with specific columns needed for visualization tasks
df_slim = ppp_df[['BorrowerState','BusinessType','FranchiseName','ServicingLenderState','RuralUrbanIndicator',
    'BusinessAgeDescription','JobsReported','NAICSCode','DateApproved','CurrentApprovalAmount']]

In [10]:
df_slim.head()

,BorrowerState,BusinessType,FranchiseName,ServicingLenderState,RuralUrbanIndicator,BusinessAgeDescription,JobsReported,NAICSCode,DateApproved,CurrentApprovalAmount
0,NaN,Corporation,NaN,GA,U,Existing or more than 2 years old,62.0,325510.0,05/01/2020,769358.78
1,NaN,Sole Proprietorship,NaN,GA,U,Existing or more than 2 years old,73.0,561730.0,05/01/2020,736927.79
2,NaN,Non-Profit Organization,NaN,NC,U,New Business or 2 years or less,75.0,NaN,05/01/2020,691355.00
3,NaN,Corporation,NaN,NC,U,New Business or 2 years or less,21.0,236115.0,05/01/2020,499871.00
4,NaN,NaN,NaN,OH,U,Unanswered,25.0,484210.0,05/01/2020,367437.00

In [ ]:
#11.8 Million rows x 10 columns 
#data appears to be successfully imported and combined with narrowed down columns

In [11]:
#Saved new dataframe csv file 
df_slim.to_csv('C:/Users/kylec/Desktop/PPP portfolio project October 2021/Raw Data/processed data/ppp_slim_data.csv', index=False)